.UserItem {
  display: flex;
  padding: 0.5rem 0.8rem;
  color: var(--list-item-text);
  background: var(--list-item);
  cursor: pointer;
  align-items: center;
  p {
    margin: 0;
  }
  &:not(:disabled, .UserItem_selected, .UserItem_loading):hover {
    color: var(--list-item-text-hover);
    background: var(--list-item-hover);
  }
  &_selected {
    color: var(--list-item-text-selected);
    background: var(--list-item-selected);
  }
  &_loading {
    cursor: default;
    color: var(--list-item-text);
    background: var(--list-item);
  }
}
