.Header {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1.2rem 2rem 1.2rem;
  border-bottom: 1px solid #d1d1d1;
  &__title,
  &__subtitle {
    margin: 0;
  }
  &__title {
    font-size: 2rem;
    color: var(--text-primary);
  }
  &__subtitle {
    font-size: 0.9rem;
    color: var(--text-primary-light);
  }
}
