:root {
  --border-radius: 4px;

  --text-primary: #001b2e;
  --text-primary-light: #015089;
  --text-secondary: #ffffff;

  --button-primary: #157bb7;
  --button-primary-text: #ffffff;
  --button-primary-hover: #36a6e7;
  --button-primary-text-hover: #ffffff;
  --button-primary-active: #36a6e7;
  --button-primary-text-active: #ffffff;
  --button-primary-disabled: #a1a1a1;
  --button-primary-text-disabled: #ffffff;

  --list-item: transparent;
  --list-item-text: #001b2e;
  --list-item-hover: #36a6e7;
  --list-item-text-hover: #ffffff;
  --list-item-selected: #157bb7;
  --list-item-text-selected: #ffffff;

  --input-border: #126494;
  --input-border-focused: #36a6e7;
  --input-border-disabled: #a1a1a1;
  --input-text: #001b2e;
  --input-text-focused: #001b2e;
  --input-text-disabled: #a1a1a1;

  --sidebar-width: 250px;
  --sidebar-bg: #eeeeee;
}
